*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Global layout and Variables */
:root {
  /* Colors */
  --secondary-color: #4056A1;
  --primary-color: #f4f1ec;
  --highlight-color: rgb(213, 162, 67);
  --accent-color: #545149;
  --font-color: #FFFFFF;

  /* Fonts */
  --primary-font: 'Source Sans Pro', sans-serif;
  --logo-font: 'Bungee', cursive;

}

body {
  color: var(--accent-color);
  background-color: var(--primary-color);
  font-size: 24px;
  font-family: var(--primary-font);
}

 main {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

#error-message {
  border: 2px solid red;
  padding: 1rem;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* Desktop Media Query */

@media only screen and (min-width: 1024px) {
  .content-wrapper {
    display: flex;
  }
}