/* Used to check your box layout
 
 *{
   border: 5px dashed red;
 } 
 */

 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
:root {
  /* Colors */
  --secondary-color: #4056A1;
  --primary-color: #f4f1ec;
  --accent-color: #545149;
  --font-color: #FFFFFF;

  /* Fonts */
  --primary-font: 'Source Sans Pro', sans-serif;
  --logo-font: 'Bungee', cursive;

}

body {
  color: var(--accent-color);
  background-color: var(--primary-color);
  font-size: 24px;
  font-family: var(--primary-font);
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

 main {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

#error-message {
  border: 2px solid red;
  padding: 1rem;
  text-align: center;
}