nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 1.5em;
  width: 100%;
  height: 120px;
  background-color: var(--highlight-color);
  color: var(--font-color);
  top:0;
}

.logo {
  font-family: var(--logo-font);
}

.call-to-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action-container p {
  margin-bottom: 10px;
}

.fa-angles-down {
  color: red;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: var(--secondary-color);
  }
}