.new-tweet textarea {
  border: none;
  border-bottom: 0.2em solid;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: var(--primary-font);
  font-weight: 600;
  width: 100%;
}

.new-tweet button {
  color: var(--font-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 0.3em;
}

.tweet-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--logo-font);
}

/* class added dynamically when character count exceeds 140 */
.over-count {
  color: red;
}

