.container {
  margin-top: 5rem;
}

#tweets-container article {
  margin: 5rem 0;
  border: 5px solid var(--accent-color);
  padding: 1rem;
}

#tweets-container header {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweets-container .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tweets-container .user-info img {
  font-size: 60px;
  margin-right: 1rem;
}

#tweets-container header h3.name , p {
  font-weight: 300;
  word-wrap: break-word;
}

#tweets-container header h3.user {
  color: #888477;
}

#tweets-container .user-tweet {
  padding: 0 1rem;
  border-bottom: 5px solid var(--accent-color);
}


#tweets-container footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 1rem;
}

.fas {
  padding-left: 1rem;
}

/* active states */

#tweets-container article:hover {
  box-shadow: 12px 12px 2px 1px #d5d4d0;
}


.fas.fa-bookmark:hover {
  color: #00a12b;
}

.fas.fa-retweet:hover {
  color: #4056A1;
}

.fas.fa-heart:hover {
  color: #b30000;
} 

/* Media Queries */

@media only screen and (min-width: 1024px) {
  #tweets-container {
    margin-top: 0;
  }

  .container {
    width: 50vw;
    margin-top: 11rem;
  }
}
